/.idea
/Sounds
/main.py
/Sounds/
/Seleniums/Drivers/
/docker_inc/
/image/tft/15/TFT15_Aatrox.png
/image/tft/15/TFT15_Ahri.png
/image/tft/15/TFT15_Akali.png
/image/tft/15/TFT15_Ashe.png
/image/tft/15/TFT15_Braum.png
/image/tft/15/TFT15_Caitlyn.png
/image/tft/15/TFT15_Darius.png
/image/tft/15/TFT15_DrMundo.png
/image/tft/15/TFT15_Ezreal.png
/image/tft/15/TFT15_Gangplank.png
/image/tft/15/TFT15_Garen.png
/image/tft/15/TFT15_Gnar.png
/image/tft/15/TFT15_Gwen.png
/image/tft/15/TFT15_Janna.png
/image/tft/15/TFT15_JarvanIV.png
/image/tft/15/TFT15_Jayce.png
/image/tft/15/TFT15_Jhin.png
/image/tft/15/TFT15_Jinx.png
/image/tft/15/TFT15_KaiSa.png
/image/tft/15/TFT15_Kalista.png
/image/tft/15/TFT15_Karma.png
/image/tft/15/TFT15_Katarina.png
/image/tft/15/TFT15_Kayle.png
/image/tft/15/TFT15_Kennen.png
/image/tft/15/TFT15_Kobuko.png
/image/tft/15/TFT15_KogMaw.png
/image/tft/15/TFT15_KSante.png
/image/tft/15/TFT15_LeeSin.png
/image/tft/15/TFT15_Leona.png
/image/tft/15/TFT15_Lucian.png
/image/tft/15/TFT15_Lulu.png
/image/tft/15/TFT15_Lux.png
/image/tft/15/TFT15_Malphite.png
/image/tft/15/TFT15_Malzahar.png
/image/tft/15/TFT15_Naafiri.png
/image/tft/15/TFT15_Neeko.png
/image/tft/15/TFT15_Poppy.png
/image/tft/15/TFT15_Rakan.png
/image/tft/15/TFT15_Rammus.png
/image/tft/15/TFT15_Rell.png
/image/tft/15/TFT15_Ryze.png
/image/tft/15/TFT15_Samira.png
/image/tft/15/TFT15_Senna.png
/image/tft/15/TFT15_Seraphine.png
/image/tft/15/TFT15_Sett.png
/image/tft/15/TFT15_Shen.png
/image/tft/15/TFT15_Sivir.png
/image/tft/15/TFT15_Smolder.png
/image/tft/15/TFT15_Swain.png
/image/tft/15/TFT15_Syndra.png
/image/tft/15/TFT15_TwistedFate.png
/image/tft/15/TFT15_Udyr.png
/image/tft/15/TFT15_Varus.png
/image/tft/15/TFT15_Vi.png
/image/tft/15/TFT15_Viego.png
/image/tft/15/TFT15_Volibear.png
/image/tft/15/TFT15_Xayah.png
/image/tft/15/TFT15_XinZhao.png
/image/tft/15/TFT15_Yasuo.png
/image/tft/15/TFT15_Yone.png
/image/tft/15/TFT15_Yuumi.png
/image/tft/15/TFT15_Zac.png
/image/tft/15/TFT15_Ziggs.png
/image/tft/15/TFT15_Zyra.png
